// mixins
@mixin text($size, $color, $bold: normal, $decoration: none) {
	font-size: $size;
	font-weight: $bold;
	color: $color;
	text-decoration: $decoration;
}

@mixin flex($flex-direction: row, $justify-content: flex-start, $align-items: flex-start) {
  display: flex;
  flex-direction: $flex-direction;
  justify-content: $justify-content;
  align-items: $align-items;
}

@mixin hoverColor($color) {
	@if & {
		&:hover {
			color: $color;
		}
	}
}
