// mixins
@mixin text($size, $color, $bold: normal, $decoration: none) {
  font-size: $size;
  font-weight: $bold;
  color: $color;
  text-decoration: $decoration;
}

@mixin flex($flex-direction: row, $justify-content: flex-start, $align-items: flex-start) {
  display: flex;
  flex-direction: $flex-direction;
  justify-content: $justify-content;
  align-items: $align-items;
}

@mixin hoverColor($color) {
  @if & {
    &:hover {
      color: $color;
    }
  }
}

@mixin scrollHover {
  @if & {
    &::-webkit-scrollbar {
      width: 6px;
      background-color: #fff;
    }

    &::-webkit-scrollbar-thumb {
      width: 6px;
      background-color: #e6e6e6;
    }

    scrollbar-width: thin;
  }
}

// 多行文字样式
@mixin text-multi($multi) {
  text-overflow: -o-ellipsis-lastline;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: $multi;
  line-clamp: $multi;
  -webkit-box-orient: vertical;
}
