// 设置placeholder的默认样式
:-moz-placeholder {
	color: #ddd;
	opacity: 1;
}

::-moz-placeholder {
	color: #ddd;
	opacity: 1;
}

// input 默认 and 聚焦样式
input {
	margin: 0;

	/* 2 */
	font-family: inherit;
	border: 0;

	&:focus {
		outline: 0;
	}
}

button:focus {
	outline: 0;
}

// 超出文本省略
.text-hidden-1 {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

/**
 * antd 样式覆盖
 */

// popover 组件去掉默认边距
.ant-popover-inner-content {
  padding: 0;
}

// 顶部栏menu设置fixed
// 因为顶部popup定位默认是absolute  会随着页面滚动消失
.ant-menu-submenu-popup {
	position: fixed;
}
