// 主题
$primary-color: #ff8022; // 主题颜色
$font-size-heading: 20px; // 标题字体
$font-size-lg: 16px; // 大字体
$font-size-base: 14px; // 整体字号
$font-size-sm: 12px; // 小字体
$link-color: #ff8022; // 链接颜色
$heading-color: #333; // 标题颜色
$text-color: #3a3a3a; // 文本颜色
$text-color-secondary: #999; // 次文本颜色
$disabled-color: #b6b6b6; // 禁止文本颜色
$box-shadow-base: rgba(0, 0, 0, 0.15); // 盒子阴影颜色
$button-hover: #ff9d54; // 盒子阴影颜色
$popup-bg: rgba(0, 0, 0, 0.7); // 弹窗背景颜色

$container-width: 1280px; // 内容容器宽度
